<servlet>
	<description></description> 
	<display-name>PartsList</display-name>
	<servlet-name>PartsList</servlet-name>
	<servlet-class>com.xym.bossed.servlet.parts.PartsList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PartsList</servlet-name>
	<url-pattern>/parts/list</url-pattern>
</servlet-mapping>
<servlet>
	<description></description> 
	<display-name>PartsFenLuList</display-name>
	<servlet-name>PartsFenLuList</servlet-name>
	<servlet-class>com.xym.bossed.servlet.parts.fenlu.PartsFenLuList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PartsFenLuList</servlet-name>
	<url-pattern>/parts/fenlu/list</url-pattern>
</servlet-mapping>
<servlet>
	<description></description> 
	<display-name>PartsCategorySearch</display-name>
	<servlet-name>PartsCategorySearch</servlet-name>
	<servlet-class>com.xym.bossed.servlet.parts.category.PartsCategorySearch</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PartsCategorySearch</servlet-name>
	<url-pattern>/parts/category/search</url-pattern>
</servlet-mapping>