<servlet>
	<description></description> 
	<display-name>RefreshCache</display-name>
	<servlet-name>RefreshCache</servlet-name>
	<servlet-class>com.xym.bossed.servlet.cache.RefreshCache</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>RefreshCache</servlet-name>
	<url-pattern>/cache/*</url-pattern>
</servlet-mapping>