<servlet>
	<description></description> 
	<display-name>CangKuList</display-name>
	<servlet-name>CangKuList</servlet-name>
	<servlet-class>com.xym.bossed.servlet.cangku.CangKuList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CangKuList</servlet-name>
	<url-pattern>/cangku/list</url-pattern>
</servlet-mapping>