<servlet>
	<description></description> 
	<display-name>SalePriceSearch</display-name>
	<servlet-name>SalePriceSearch</servlet-name>
	<servlet-class>com.xym.bossed.servlet.price.sale.SalePriceSearch</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SalePriceSearch</servlet-name>
	<url-pattern>/price/sale/search</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>SalePriceRefer</display-name>
	<servlet-name>SalePriceRefer</servlet-name>
	<servlet-class>com.xym.bossed.servlet.price.sale.SalePriceRefer</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SalePriceRefer</servlet-name>
	<url-pattern>/price/sale/pricerefer</url-pattern>
</servlet-mapping>