<servlet>
    <description/>
    <display-name>CaptchaCreate</display-name>
    <servlet-name>CaptchaCreate</servlet-name>
    <servlet-class>com.xym.bossed.servlet.captcha.CaptchaCreate</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CaptchaCreate</servlet-name>
    <url-pattern>/captcha</url-pattern>
</servlet-mapping>