<servlet>
	<description></description> 
	<display-name>ContactList</display-name>
	<servlet-name>ContactList</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.ContactList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ContactList</servlet-name>
	<url-pattern>/contacts/list</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>ContactDetail</display-name>
	<servlet-name>ContactDetail</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.ContactDetail</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ContactDetail</servlet-name>
	<url-pattern>/contacts/detail</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>ContactCreate</display-name>
	<servlet-name>ContactCreate</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.ContactCreate</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ContactCreate</servlet-name>
	<url-pattern>/contacts/create</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>ContactDelete</display-name>
	<servlet-name>ContactDelete</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.ContactDelete</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ContactDelete</servlet-name>
	<url-pattern>/contacts/delete</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>ContactUpdate</display-name>
	<servlet-name>ContactUpdate</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.ContactUpdate</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ContactUpdate</servlet-name>
	<url-pattern>/contacts/update</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>KehuCategorySearch</display-name>
	<servlet-name>KehuCategorySearch</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.kehu.CategorySearch</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>KehuCategorySearch</servlet-name>
	<url-pattern>/contacts/kehu/category/search</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>GYSCategorySearch</display-name>
	<servlet-name>GYSCategorySearch</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.gys.CategorySearch</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>GYSCategorySearch</servlet-name>
	<url-pattern>/contacts/gys/category/search</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>CategoryTree</display-name>
	<servlet-name>CategoryTree</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.category.CategoryTree</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CategoryTree</servlet-name>
	<url-pattern>/contacts/category/tree</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>CategoryList</display-name>
	<servlet-name>CategoryList</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.category.CategoryList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CategoryList</servlet-name>
	<url-pattern>/contacts/category/list</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>CategoryCreate</display-name>
	<servlet-name>CategoryCreate</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.category.CategoryCreate</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CategoryCreate</servlet-name>
	<url-pattern>/contacts/category/create</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>CategoryUpdate</display-name>
	<servlet-name>CategoryUpdate</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.category.CategoryUpdate</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CategoryUpdate</servlet-name>
	<url-pattern>/contacts/category/update</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>CategoryDelete</display-name>
	<servlet-name>CategoryDelete</servlet-name>
	<servlet-class>com.xym.bossed.servlet.contact.category.CategoryDelete</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CategoryDelete</servlet-name>
	<url-pattern>/contacts/category/delete</url-pattern>
</servlet-mapping>