<servlet>
	<description></description> 
	<display-name>SaleSheetSummaryList</display-name>
	<servlet-name>SaleSheetSummaryList</servlet-name>
	<servlet-class>com.xym.bossed.servlet.sale.SaleSheetSummaryList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SaleSheetSummaryList</servlet-name>
	<url-pattern>/sale/SaleSheetSummary/list</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>SaleSheetOpenByDanHao</display-name>
	<servlet-name>SaleSheetOpenByDanHao</servlet-name>
	<servlet-class>com.xym.bossed.servlet.sale.SaleSheetOpenByDanHao</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SaleSheetOpenByDanHao</servlet-name>
	<url-pattern>/sale/SaleSheetSummary/open</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>NewDanHao</display-name>
	<servlet-name>NewDanHao</servlet-name>
	<servlet-class>com.xym.bossed.servlet.sale.NewDanHao</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>NewDanHao</servlet-name>
	<url-pattern>/sale/newdanhao</url-pattern>
</servlet-mapping>

<servlet>
	<description></description> 
	<display-name>ZuoFeiSaleSheet</display-name>
	<servlet-name>ZuoFeiSaleSheet</servlet-name>
	<servlet-class>com.xym.bossed.servlet.sale.ZuoFeiSaleSheet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ZuoFeiSaleSheet</servlet-name>
	<url-pattern>/sale/zuofei</url-pattern>
</servlet-mapping>